#cal{
    text-align: center;
    color: brown;
}
#calculator{
    background-color: aqua;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
#calculator2{
    background-color: aqua;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
#calculator3{
    background-color: aqua;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
#calculator4{
    background-color: aqua;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
#myDiv{
    
}